<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <title>{{title}}</title>
</head>
<body>
<header>
    <nav class="navbar navbar-light bg-dark">
        <a class="navbar-brand" href="http://127.0.0.1:8080/"><img src="{{ znachok }}" class="img-thumbnail" alt="error"></a>
        <a title="Перейти на главную страницу" href="http://127.0.0.1:8080/"><button type="button" class="btn btn-outline-primary btn-lg"><b>Главная</b></button></a>
        <a title="Перейти к каталогу товаров" href="http://127.0.0.1:8080/"><button type="button" class="btn btn-outline-success btn-lg"><b>Товары</b></button></a>
        <a title="Перейти к информации о магазине" href="http://127.0.0.1:8080/info"><button type="button" class="btn btn-outline-info btn-lg active"><b>О магазине</b></button></a>
        <a title="Перейти в корзину" href="http://127.0.0.1:8080/cart"><button type="button" class="btn btn-outline-warning btn-lg"><b>Корзина</b></button></a>
    </nav>
</header>
</body>
</html>