<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <title>{{title}}</title>
</head>
<body>
<header>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">FP</a>
    </nav>
</header>

<main role="main" class="container">
    {% block content %}{% endblock %}
</main>
<p></p>
<p></p>
<p></p>
<div class="container overflow-hidden">
  <div class="row gy-5">
    <div class="col-3">
      <div class="p-3 border bg-light">
          <img src="{{ v3070ti }}" class="img-thumbnail" alt="error">
          <p></p>
          <p>Видеокарта Palit GeForce RTX 3070 Ti GamingPro</p>
          <p><b>35 000₽</b></p>
         </div>
    </div>
    <div class="col-3">
      <div class="p-3 border bg-light">
          <img src="{{ v1660super }}" class="img-thumbnail" alt="error">
          <p></p>
          <p>Видеокарта Palit GeForce GTX 1660 SUPER Gaming Pro</p>
          <p><b>20 000₽</b></p>
      </div>
    </div>
    <div class="col-3">
      <div class="p-3 border bg-light">
          <img src="{{ v3090 }}" class="img-thumbnail" alt="error">
          <p></p>
          <p>Видеокарта Palit GeForce RTX 3080 GameRock</p>
          <p><b>50 000₽</b></p>
      </div>
    </div>
    <div class="col-3">
      <div class="p-3 border bg-light">
          <img src="{{ v3080 }}" class="img-thumbnail" alt="error">
          <p></p>
          <p>Видеокарта Palit GeForce RTX 3090 GameRock</p>
          <p><b>70 000₽</b></p>
      </div>
    </div>
  </div>
</div>
</body>
</html>