{% extends "base.html" %}

{% block content %}
<p></p>
<p></p>
<p></p>
<div class="container overflow-hidden">
    <div class="row gy-5">
        <div class="col-3">
            <div class="p-3 border bg-light">
                <img src="{{ Pummel_Party }}" class="img-thumbnail" alt="error">
                <p></p>
                <p>Pummel Party</p>
                <a href="/game/1">
                    <button type="button" class="btn btn-primary">Открыть</button>
                </a>
            </div>
        </div>
        <div class="col-3">
            <div class="p-3 border bg-light">
                <img src="{{ Black_Messa }}" class="img-thumbnail" alt="error">
                <p></p>
                <p>Black Messa</p>
                <a href="/game/2">
                    <button type="button" class="btn btn-primary">Открыть</button>
                </a>
            </div>
        </div>
        <div class="col-3">
            <div class="p-3 border bg-light">
                <img src="{{ Tiny_Bunny }}" class="img-thumbnail" alt="error">
                <p></p>
                <p>Tiny Bunny</p>
                <a href="/game/3">
                    <button type="button" class="btn btn-primary">Открыть</button>
                </a>
            </div>
        </div>
        <div class="col-3">
            <div class="p-3 border bg-light">
                <img src="{{ Alyx }}" class="img-thumbnail" alt="error">
                <p></p>
                <p>Half-Life: Alyx</p>
                <a href="/game/4">
                    <button type="button" class="btn btn-primary">Открыть</button>
                </a>
            </div>
        </div>
    </div>
</div>
<p></p>
<div class="container overflow-hidden">
    <div class="row gy-5">
        <div class="col-3">
            <div class="p-3 border bg-light">
                <img src="{{ Potion_Craft }}" class="img-thumbnail" alt="error">
                <p></p>
                <p>Potion Craft</p>
                <a href="/game/5">
                    <button type="button" class="btn btn-primary">Открыть</button>
                </a>
            </div>
        </div>
        <div class="col-3">
            <div class="p-3 border bg-light">
                <img src="{{ GTFO }}" class="img-thumbnail" alt="error">
                <p></p>
                <p>GTFO</p>
                <a href="/game/6">
                    <button type="button" class="btn btn-primary">Открыть</button>
                </a>
            </div>
        </div>
        <div class="col-3">
            <div class="p-3 border bg-light">
                <img src="{{ High_On_Life }}" class="img-thumbnail" alt="error">
                <p></p>
                <p>High On Life</p>
                <a href="/game/7">
                    <button type="button" class="btn btn-primary">Открыть</button>
                </a>
            </div>
        </div>
        <div class="col-3">
            <div class="p-3 border bg-light">
                <img src="{{ The_Forest }}" class="img-thumbnail" alt="error">
                <p></p>
                <p>The Forest</p>
                <a href="/game/8">
                    <button type="button" class="btn btn-primary">Открыть</button>
                </a>
            </div>
        </div>
    </div>
</div>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true"><</a>
        </li>
        <li class="page-item"><a class="page-link" href="/">1</a></li>
        <li class="page-item"><a class="page-link" href="/phone">2</a></li>
        <li class="page-item"><a class="page-link" href="/TV">3</a></li>
        <li class="page-item">
            <a class="page-link" href="/phone">></a>
        </li>
    </ul>
</nav>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>
{% endblock %}